*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.p1{
    padding: 10px;
}
.m1{
    margin: 10px;
}
.p2{
    padding: 2rem;
}
.p3{
    padding: 20px;
}
.p4{
    padding: 12px;
}
.p5{
    padding: 22px;
}
.p6{
    padding: 20px;
}
// margin
.m2{
    margin-left: 8rem;
}